*,*::after,*::before{margin: 0;padding: 0;box-sizing: border-box;}
p,h1,h2,h3,h4,h5,h6{margin: 0;padding: 0;}
svg{display: block;}
input{display: block;}
$font: "Montserrat", sans-serif;
@mixin font($weight,$size){
    font-family: $font;font-style: normal;
    font-weight: $weight;font-size: $size+px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

$black: #2E2E2E;
$mainColor: #FF6A4A;
$shadow: 0px 8px 22px 1px rgba(0, 0, 0, 0.25);
body{
    // overflow: hidden;
    background: #EAEAEA;
    font-family: $font;
}
::-webkit-scrollbar{
    width: 10px;
    background: #00000000;
}
::-webkit-scrollbar-thumb{
    width: 10px;
    background: #a7a7a7;
    border-radius: 5px;
}

.dn{
    display: none !important;
}
.container{
    width: 83%;
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 100px;
    background: #fff;
    box-shadow: $shadow;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    margin-top: 45px;
    .button{
        height: 45px;
        font-size: 16px;
    }
}
.logo{
    @include font(500, 32);
}
.button{
    background: #FFFFFF;
    box-shadow: $shadow;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    outline: none;
    padding: 0 30px;
    color: $black   ;
    font-family: $font;
    transition: background .2s, font-weight .2s, color .2s;
    &:active{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);;
    }
    &:hover{
        background: $mainColor;
        font-weight: bold;
        color: #fff;
    }
}
.button_active{
    background: $mainColor;
    font-weight: bold;
    color: #fff !important;
}
.main{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.map{
    position: relative;
    width: 700px;
    height: 700px;
    margin-left: 30px;
    
    &__main{
        // margin-top: 50px;
        width: 100%;
        border-radius:20px;
        box-shadow: $shadow;
        overflow: hidden;
        #map{
            position: relative;
            z-index: 10;
            width: 700px;
            height: 700px;
            .leaflet-bottom{
                display: none;
            }
        }
    }
}
.map-search{
    z-index: 99;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 50px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    box-shadow: $shadow;
    display: flex;
    align-items: center;
    padding-left: 20px;
    // &:focus{
    //     background: rgba(255, 255, 255, 1);
    //     box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    // }
    svg{
        width: 23px;
        height: 23px;
        display: block;
    }
    input{
        border: none;
        outline: none;
        height: 100%;
        background: none;
        width: 80%;
        padding-left: 15px;
        font-family: $font;
        font-size: 20px;
    }
}
.map-filter{
    position: absolute;
    bottom: 20px;
    right: 20px;
    box-shadow: $shadow;
    width: 280px;
    height: 40px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    p{
        @include font(500, 16);
    }
    &__button{
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: $shadow;
        outline: none;
        border: none;
        background: #fff;
        div{
            width: 20px;
            height: 20px;
            border-radius: 5px;
            background: #FF6A4A;
            box-shadow: $shadow;
        }
    }
}



.auth{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    &__container{
        width: 400px;
        padding: 20px;
        background: #EAEAEA;
        box-shadow: $shadow;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &>div{
            margin-bottom: 25px ;
        }
    }
    &__title{
        @include font(700, 24);
    }
    &__input{
        width: 100%;
        height: 45px;
        border-radius: 45px;
        overflow: hidden;
        box-shadow: $shadow;
        input{
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            padding-left: 20px;
            @include font(500, 16);

        }
    }
    &__buttons{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0 !important;
        .button{
            width: 48%;
            height: 44px;
            @include font(500, 18);
        }
    }
}

.items{
    width: 53%;
    max-height: 700px;
    overflow-y: auto;
    margin: -17px;
    margin-top: 0;
    padding: 17px;
    &::-webkit-scrollbar{
        width: 0;
    }
}
.item_active{
    .item__content{
        display: block !important;
    }
    .item__title svg{
        transform: rotate(180deg);
    }
}
.item{
    width: 100%;
    padding: 30px 50px;
    border-radius: 35px;
    box-shadow: $shadow;
    background: #fff;
    margin-bottom: 30px;

    &__title{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
            @include font(500, 32);
        }
        span{
            display: block;
            @include font(600, 32);
        }
        svg{
            width: 54px;
            height: 27px;
        }
    }
    &__content{
        display: none;
        padding-top: 30px;
    }
    &__columns{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 30px;
    }
    &__img{
        max-width: 380px;
        max-height: 380px;
        min-height: 300px;
        min-width: 300px;
        border-radius: 35px;
        box-shadow: $shadow;
        overflow: hidden;
    }
}

.table{
    width: 100%;
    &__item{
        width: 100%;
        border-top: 2px solid #000;
        padding: 11px 16px;
        transition: all .2s;
        &:hover{
            background: #FFF0E8;
        }
    }
    &__title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
            @include font(500, 25);
        }
        span{
            @include font(500, 25);
        }
        svg{
            width: 26px;
            gap: 13px;
        }
    }
    &__content{
        margin-top: 7px;
        display: none;
    }
    &_active{
        .table__content{
            display: block !important;
        }
        .table__title svg{
            transform: rotate(180deg);
        }
    }

}
.number{
    @include font(400, 20);
    a{
        text-decoration: none;
        color: #000AFF;
    }
}
.item-documents{
    &:first-child{
        margin-top: 0 !important;
    }
    &:last-child{
        margin-top: 30px;
    }
    &__title{
        @include font(500, 20);

    }
    &__items{
        margin-top: 17px;
    }

    &__item{
        width: 100%;
        height: 130px;
        border-radius: 16px;
        box-shadow: $shadow;
        display: flex;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        margin-right: 30px;
        svg{
            width: 64px;
            height: 64px;
            display: block;
            margin-top: 15px;
        }
        span{
            display: block;
            margin-top: 15px;
            width: 90%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #0066FF;
        }
    }
}
.grid-2{
    .item-documents__items{
        display: grid;
        grid-template-columns: repeat(2,130px);
        grid-gap: 20px 30px;
    }
    .item-documents__item{
        height: 130px;
    }
}
.wrap{
    .item-documents__items{
        width: 100%;
        display: flex !important;
        flex-wrap: wrap;
    }
    .item-documents__item{
        width: 130px;
        margin-bottom: 20px;
    }

}








// .home-info{
//     width: 100%;
//     margin-top: 30px;
// }
// .info-item_active{
//     .info-item__title{
//         svg{
//             transform: rotate(180deg) !important;
//         }
//     }
// }
// .info-item{
//     width: 100%;
//     padding: 30px;
//     background: #FFFFFF;
//     box-shadow: $shadow;
//     border-radius: 35px;
//     margin-bottom: 20px;
//     &__title{
//         width: 100%;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         p{
//             @include font(700, 25);

//         }
//         svg{
//             width: 54px;
//             height: 27px;
//             display: block;
//         }
//     }
//     &__container{
//         // display: none !important; 
//     }
//     &__text{
//         padding-top: 30px;
//         p{
//             @include font(500, 20);
//         }
//     }
// }
// .info-document{
//     margin-top: 20px;
//     &__items{
//         width: 100%;
//         margin-top: 12px;
//         display: flex;
//         align-items: center;

//     }
//     &__item{
//         width: 130px;
//         height: 130px;
//         border-radius: 16px;
//         box-shadow: $shadow;

//         display: flex;
//         align-items: center;
//         flex-direction: column;
//         cursor: pointer;
//         margin-right: 30px;
//         &:last-child{
//             margin-left: 0;
//         }
//         svg{
//             width: 64px;
//             height: 64px;
//             display: block;
//             margin-top: 15px;
//         }
//         span{
//             display: block;
//             margin-top: 15px;
//             width: 90%;
//             overflow: hidden;
//             white-space: nowrap;
//             text-overflow: ellipsis;
//             color: #0066FF;
//         }
//     }
// }
// .layout{
//     width: 100%;
//     .layout__container{
//         display: flex;
//         align-items: flex-end;
//     }
//     &__block{
//         margin-top: 75px;
//         // width: 228px;
//         flex-grow: 1;
//         padding-bottom: 55px;
//         position: relative;
//     }
//     &__floor{
//         width: 100%;
//         height: 30px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         p{
//             color: #fff;
//             @include font(500, 16);
//         }

//         border: 1px solid #000;
//     }
//     &__transmitter{
//         width: 20px;
//         height: 20px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         background: #000000;
//         box-shadow: $shadow;
//         border-radius: 5px;
//         margin-right: 5px;
//         svg{
//             width: 14px;
//             height: 14px;
//         }
//     }
//     &_top{
//         top: -65px;
//         left: 50%;
//         transform: translate(-50%);
//     }
//     &_bottom{
//         bottom: -10px;
//         left: 50%;
//         transform: translate(-50%);
//     }
//     &__closet{
//         position: absolute;
//         width: 60px;
//         height: 45px;
//         background: #3BC171;
//         border-radius: 8px;
//         margin: 10px auto;
//         box-shadow: $shadow;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         cursor: pointer;
//         a{
//             text-decoration: none;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             background: #000;
//             border-radius: 3px;
//             width: 40px;
//             height: 30px;
//             box-shadow: $shadow;
//             svg{
//                 width: 34px;
//                 height: 28px;
//             }
//         }
//     }
// }