@{
    ViewData["Title"] = "Home Page";
}
@model Tatsvs.Models.AuthModel;

<div class="wrapper">
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <div class="container">
            <header class="header">
                <h1 class="logo">
                    Tatsvs
                </h1>
                <button class="button button_active">
                    Выйти
                </button>
            </header>
        </div>
        <div class="container">
            <div class="map">
                <ul class="map__nav">
                    <li class="button">
                        Объекты
                    </li>
                    <li class="button button_active">
                        Кабельная канализация
                    </li>
                </ul>
                <div class="map__search">
                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.1111 4.41667C13.256 4.41667 15.8056 6.96616 15.8056 10.1111M16.5559 16.5514L21.5 21.5M19.2222 10.1111C19.2222 15.1431 15.1431 19.2222 10.1111 19.2222C5.07918 19.2222 1 15.1431 1 10.1111C1 5.07918 5.07918 1 10.1111 1C15.1431 1 19.2222 5.07918 19.2222 10.1111Z" stroke="black" stroke-opacity="0.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <input id="search" type="text" placeholder="Поиск">
                </div>
                <div class="map__main">
                </div>
            </div>
        </div>
    }
    else
    {
        @using (Html.BeginForm("Authorization", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div id="auth" class="auth">
                <div class="auth__container">
                    <div class="auth__title">
                        Авторизация
                    </div>
                    <div class="auth__input">
                        @*<input type="text" placeholder="Введите логин">*@
                        <input asp-for="Username" placeholder="Введите логин" type="text" class="form-control"/>
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                    <div class="auth__input">
                        @*<input type="password" placeholder="Введите пароль">*@
                        <input asp-for="Password" placeholder="Введите пароль" type="password" class="form-control"/>
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="auth__buttons">
                        <button type="submit" class="button">
                            Войти
                        </button>
                    </div>
                </div>
            </div>
        }
    }
</div>
