
<div class="items">
    <div class="item item_active">
        <div class="item__title">
            <p>Характеристики объекта</p>
            <svg width="54" height="27" viewBox="0 0 54 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.789228 0.89866C-0.263081 1.8925 -0.263081 3.50166 0.789228 4.49298L23.1009 25.5112C25.2082 27.4963 28.6268 27.4963 30.7341 25.5112L53.2104 4.34077C54.2519 3.35711 54.2654 1.76799 53.2373 0.771618C52.1877 -0.247653 50.4582 -0.257398 49.3924 0.744053L28.8265 20.1203C27.7715 21.1141 26.0635 21.1141 25.0085 20.1203L4.60452 0.89866C3.55221 -0.0951823 1.84153 -0.0951823 0.789228 0.89866Z" fill="#2E2E2E" />
            </svg>
        </div>
        <div class="item__content">
            <div class="table">
                <div class="table__item">
                    <div class="table__title">
                        <p>Тип объекта</p>
                        <span>123</span>
                    </div>
                </div>
                <div class="table__item">
                    <div class="table__title">
                        <p>Количество этажей</p>
                        <span>123</span>
                    </div>
                </div>
                <div class="table__item">
                    <div class="table__title">
                        <p>Количество подъездов</p>
                        <span>123</span>
                    </div>
                </div>
                <div class="table__item">
                    <div class="table__title">
                        <p>Количество квартир</p>
                        <span>123</span>
                    </div>
                </div>
                <div class="table__item">
                    <div class="table__title">
                        <p>Наличие офисов</p>
                        <span>123</span>
                    </div>
                </div>
                <div class="table__item">
                    <div class="table__title">
                        <p>Кладовки</p>
                        <span>123</span>
                    </div>
                </div>
                <div class="table__item">
                    <div class="table__title">
                        <p>Закрытый двор</p>
                        <span>123</span>
                    </div>
                </div>
                <div class="table__item table_active">
                    <div class="table__title">
                        <p>Операторы</p>
                        <svg width="26" height="13" viewBox="0 0 26 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.38 0.432688C-0.126668 0.911205 -0.126668 1.68599 0.38 2.16328L11.1226 12.2831C12.1373 13.239 13.7833 13.239 14.7979 12.2831L25.6198 2.09C26.1213 1.61639 26.1278 0.851254 25.6328 0.371519C25.1274 -0.11924 24.2947 -0.123932 23.7815 0.358247L13.8794 9.68754C13.3715 10.1661 12.5491 10.1661 12.0411 9.68754L2.21699 0.432688C1.71032 -0.0458285 0.886666 -0.0458285 0.38 0.432688Z" fill="#2E2E2E" />
                        </svg>
                    </div>
                    <div class="table__content">
                        <div class="number">
                            МТС - <a href="tel: +79870649406">+8 (888) 888-88-88</a>
                        </div>
                        <div class="number">
                            ТАТТЕЛЕКОМ - <a href="tel: +79870649406">+8 (888) 888-88-88</a>
                        </div>
                    </div>
                </div>
                <div class="table__item">
                    <div class="table__title">
                        <p>Управляющие компании</p>
                        <svg width="26" height="13" viewBox="0 0 26 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.38 0.432688C-0.126668 0.911205 -0.126668 1.68599 0.38 2.16328L11.1226 12.2831C12.1373 13.239 13.7833 13.239 14.7979 12.2831L25.6198 2.09C26.1213 1.61639 26.1278 0.851254 25.6328 0.371519C25.1274 -0.11924 24.2947 -0.123932 23.7815 0.358247L13.8794 9.68754C13.3715 10.1661 12.5491 10.1661 12.0411 9.68754L2.21699 0.432688C1.71032 -0.0458285 0.886666 -0.0458285 0.38 0.432688Z" fill="#2E2E2E" />
                        </svg>

                    </div>
                </div>
                <div class="table__item">
                    <div class="table__title">
                        <p>Полезные контакты</p>
                        <svg width="26" height="13" viewBox="0 0 26 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.38 0.432688C-0.126668 0.911205 -0.126668 1.68599 0.38 2.16328L11.1226 12.2831C12.1373 13.239 13.7833 13.239 14.7979 12.2831L25.6198 2.09C26.1213 1.61639 26.1278 0.851254 25.6328 0.371519C25.1274 -0.11924 24.2947 -0.123932 23.7815 0.358247L13.8794 9.68754C13.3715 10.1661 12.5491 10.1661 12.0411 9.68754L2.21699 0.432688C1.71032 -0.0458285 0.886666 -0.0458285 0.38 0.432688Z" fill="#2E2E2E" />
                        </svg>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="item item_active">
        <div class="item__title">
            <p>Характеристики объекта</p>
            <svg width="54" height="27" viewBox="0 0 54 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.789228 0.89866C-0.263081 1.8925 -0.263081 3.50166 0.789228 4.49298L23.1009 25.5112C25.2082 27.4963 28.6268 27.4963 30.7341 25.5112L53.2104 4.34077C54.2519 3.35711 54.2654 1.76799 53.2373 0.771618C52.1877 -0.247653 50.4582 -0.257398 49.3924 0.744053L28.8265 20.1203C27.7715 21.1141 26.0635 21.1141 25.0085 20.1203L4.60452 0.89866C3.55221 -0.0951823 1.84153 -0.0951823 0.789228 0.89866Z" fill="#2E2E2E" />
            </svg>
        </div>
        <div class="item__content">
            <div class="table">
                <div class="table__item">
                    <div class="table__title">
                        <p>Тип объекта</p>
                        <span>123</span>
                    </div>
                </div>
                <div class="table__item">
                    <div class="table__title">
                        <p>Тип объекта</p>
                        <span>123</span>
                    </div>
                </div>
                <div class="table__item">
                    <div class="table__title">
                        <p>Тип объекта</p>
                        <span>123</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>