<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tatsvs</title>
    <!--==================Font================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
    <!--======================================== -->
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    @await RenderSectionAsync("Scripts", required: false)
    @RenderBody()
</body>
<script src="~/js/script.js" asp-append-version="true"></script>
</html>